@font-face {
    font-family: "Gilroy";
    src: url("../fonts/web/gilroyextrabold.woff2") format("woff2"),
	   url("../fonts/web/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal; 
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/web/opensans.woff2") format("woff2"),
	   url("../fonts/web/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/web/opensanslight.woff2") format("woff2"),
	   url("../fonts/web/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/web/gilroylight.woff2") format("woff2"),
	   url("../fonts/web/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal; 
}

body {
    margin: 0;
    padding: 0;

    font-family: "Gilroy", "Arial", Sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

a {
    text-decoration: none;
}

.center-container {
    width: 1160px;
    margin: 0 auto;
   /* padding: 20px;*/
}

.main-header {
    width: 1160px
    margin: 0 auto;
    padding: 0;

    margin-bottom: 166px;

    font-size: 18px;
    line-height: 24px; 
    color: #000000;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to bottom, white 10%, #f7e184 10%);
}

.main-logo {
    display: block;
    width: 163px;
    height: 35px;
    margin-left: 59px;
    align-self: flex-start;
}

.first-line-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}

form.search-form {
    position: relative;
}

form.search-form::before {
    position: absolute;
    top: 15px;
    left: 6px;
    
    content: "";
    width: 16px;
    height: 16px;

    background-image: url(../img/svg/search.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.search-form {
    display: flex;
    width: 437px;
    min-height: 49px;
    margin: 0;
    margin-right: 100px;
    padding: 0;
    padding-left: 36px;

    font-size: 15px;
    line-height: 30px; 

    border: 0;
    color: rgba(0, 0, 0, 0.3);
}

.search-form input {
    width: 356px;
    padding: 0;

    background-color: transparent;
    outline: none;
    border: none;  
}

.search-form button {
    display: none;
}

.search-form-input:focus ~ .search-form-submit {
    display: block;
    width: 85px;
    min-height: 49px;

    background-color: transparent;
    border: solid #000000 2px;
    color: #000000;
}

.search-form-submit:hover button{
    background-color: #000000;
    color: #ffffff;
}

/*.search-form button:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
}*/

.search-form-input:focus {
    border-bottom: solid 2px #000000;
}

.search-form:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 430px;
    margin: 0;

    padding: 0;

    list-style: none;
}

.user-navigation a {
    color: #000000;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation .login,
.user-navigation .compare,
.user-navigation .cart {
    position: relative;

    padding-right: 28px;
}

.user-navigation .login::before,
.user-navigation .compare::before,
.user-navigation .cart::before {
    position: absolute;
    top: 5px;
    left: -25px;
    content: "";

    width: 13px;
    height: 12px;

    background-image: url(../img/svg/search.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.user-navigation .login::before {
    background-image: url(../img/svg/user.svg);
}
.user-navigation .compare::before {
    background-image: url(../img/svg/compare.svg);
}
.user-navigation .cart::before {
    background-image: url(../img/svg/cart.svg);
}

.site-navigation {
    position: relative;

    display: flex;
    justify-content: space-around;
    min-height: 50px;
    margin: 0 auto;
    padding: 0px;
    width: 1160px;

    background-color: #f7e184;

    list-style: none;
}

.site-navigation-to-catalog {
    position: relative;

    padding-right: 32px;
}

.site-navigation-to-catalog::before {
    position: absolute;
    top: 4px;
    right: 13px;
    
    content: "";
    width: 16px;
    height: 16px;

    background-image: url(../img/svg/plus.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.site-navigation a {
    margin: 10px;

    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.site-navigation a:hover {
    opacity: 0.6;
}

.site-navigation a:active {
    opacity: 0.3;
}

.main-catalog-list {
    position: absolute;
    top: 40px;
    left: -58px;

    display: none;
    width: 1120px;
    z-index: 10;
    
    background-color: #f7e184;
    list-style: none;

}

.main-catalog-list a {
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #000000;
}


.site-navigation-to-catalog:hover .main-catalog-list {
  display: flex;
  justify-content: flex-start;
}

.menu-column-1,
.menu-column-2,
.menu-column-3 {
    margin-right: 58px;
}


.site-navigation-to-catalog .main-catalog-list a {
    color: #000000;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px; 
    text-transform: capitalize;
}

.main-catalog-list a:hover {
    opacity: 0.6;
}

.main-catalog-list a:active {
    opacity: 0.3;
}

.slider {
    position: relative;
}

.slider-list {
    height: 530px;
    background-color: #ffffff;
}

.slider-item.slide {
    display: none;
}

.slider-list b {
    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.48px;
}

.slider-list p {
    color: #464646;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.slider-list a {
    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 3.7px;
}


.slider-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 1160px;
}

.more-info-container {
    display: flex;
    justify-content: space-between;   
    width: 465px;
    margin: 62px 0 76px 0;
}


.slider-image {
    width: 385px;
    margin-right: 125px;
}

.slider-details {
    width: 502px;
}

.slider-details-text {
    height: 76px;
}

tr.data-table {
    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.36px; 
}

.data-table > td,
.head-table > td {
    padding-right: 81px;
}

.data-table > td:last-child,
.head-table > td:last-child {
    padding-right: 0;
}

tr.head-table {
    color: #464646;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px; 
}

/*.slider-controls {
    position: absolute;
    top: 490px;
    left: 900px;
    z-index: 20;

    font-size: 0;
}*/

.slider-controls label {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 21px;

    vertical-align: top;
    cursor: pointer;
    font-size: 0;

    background-image: url(../img/svg/slider-button-empty.svg);
    background-repeat: no-repeat;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: flex;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
  background-image: url(../img/svg/slider-button.svg);
}


.catalog-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.catalog-navigation li {
    margin-right: 40px;

    list-style: none;
}

.catalog-navigation-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
}


.catalog-navigation-list a {
    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px; 
}

.catalog-navigation-list a:hover,
.catalog-navigation-list a:visited {
    color: #000000;
}

.catalog-navigation-list a:active {
    opacity: 0.3;
}

.catalog-navigation-list li {
    position: relative;

    padding-top: 200px;
    width: 160px;
}

li.virtual-list::after,
li.monopod::after,
li.action-camera::after, 
li.fitness::after,
li.smart-watch::after,
li.quadcopter::after { 
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    content: "";

    display: block;
    width: 160px;
    height: 160px;

    background-color: #f7e184;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

li.virtual-list:hover::after,
li.monopod:hover::after,
li.action-camera:hover::after, 
li.fitness:hover::after,
li.smart-watch:hover::after,
li.quadcopter:hover::after {
    background-color: #f0c52e;
}

li.virtual-list::before,
li.monopod::before,
li.action-camera::before, 
li.fitness::before,
li.smart-watch::before,
li.quadcopter::before { 
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    content: "";

    display: block;
    width: 160px;
    height: 160px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
}

li.virtual-list::before {
    background-image: url(../img/svg/popular-1.svg);
}

li.monopod::before {
    background-image: url(../img/svg/popular-2.svg);
}

li.action-camera::before {
    background-image: url(../img/svg/popular-3.svg);
}

li.fitness::before {
    background-image: url(../img/svg/popular-4.svg);
}

li.smart-watch::before {
    background-image: url(../img/svg/popular-5.svg);
   
}

li.quadcopter::before {
    background-image: url(../img/svg/popular-6.svg);
}

li.virtual-list:hover::before,
li.monopod:hover::before,
li.action-camera:hover::before, 
li.fitness:hover::before,
li.smart-watch:hover::before,
li.quadcopter:hover::before {
    /*background-color: #f0c52e;*/
}
li.virtual-list:active::before,
li.monopod:active::before,
li.action-camera:active::before, 
li.fitness:active::before,
li.smart-watch:active::before,
li.quadcopter:active::before {
    /*background-color: #f0c52e;*/
    opacity: 0.3;

}


.features {
    display: flex;
    justify-content: space-between;
}

.features-list button {
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3.7px; 
    color: #f0c52e;

    background-color: #000000;
}

.features-list h3 {
    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 47px;
    letter-spacing: 0.48px; 
}

.features-list li {
    list-style: none;
}

.features-list p {
    color: #464646;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.producers img{
    opacity: 0.2;
    filter: grayscale(1);
}

.producers img:hover {
    opacity: 1;
    filter: grayscale(0);
}
.main-information {
    display: flex;
    justify-content: space-between;

    margin: 50px;
    padding: 0;
}

.about-us h2 {
    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 47px;
    letter-spacing: 0.48px; 
}

.about-us p {
    color: #464646;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.transport-companies li{
    color: #464646;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 30px;

    list-style: circle;
}

.about-us-btn,
.write-button {
    width: 220px;
    min-height: 40px;
    padding: 0 44px;

    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 3.7px; 
    color: #000000;
    text-transform: uppercase;

    background: linear-gradient(to bottom, transparent 30%, #f0c52e 30%, #f0c52e 70%, transparent 70%);
}

.about-us-btn:hover {
    background-color: #f0c52e;
    transition: color 200ms;
}

.about-us-btn:active {
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}

.contacts h2 {
    color: #000000;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 47px;
    letter-spacing: 0.48px; 
}

.contacts p {
    color: #464646;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}


.hidden {
    display: none;
}

.main-footer .center-container{
    display: flex;
    justify-content: space-between;
}

.footer-column-1 address.footer-contacts {
    margin-top: 25px;

    color: #ffffff;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
}

.main-footer li {
    list-style: none;
}

.main-footer {
    background-color: #464646;
}

.footer-logo svg {
    fill: #ffc600;

}

.footer-logo svg:hover {
    opacity: 0.6;
}

.footer-logo svg:active {
    opacity: 0.3;
}

.footer-logo{
    margin-top: 65px;
}

.footer-column-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 203px;

}

.footer-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 425px;
    margin-top: 124px;
}

.footer-features a {
    color: #ffffff;
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
}

.footer-features a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-features a:active {
    color: rgba(255, 255, 255, 0.3);
}

ul.social-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 141px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 67px;

    
}
.social-button {
    opacity: 0.3;
}

.social-button:hover {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 55px;

}

.footer-navigation .login,
.footer-navigation .compare,
.footer-navigation .cart {
    position: relative;

    padding-right: 28px;
}

.footer-navigation .login::before,
.footer-navigation .compare::before,
.footer-navigation .cart::before {
    position: absolute;
    top: 5px;
    left: -25px;
    content: "";

    width: 13px;
    height: 12px;

    background-image: url(../img/svg/search.svg);
    fill: #ffffff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.footer-navigation .login::before {
    background-image: url(../img/svg/user.svg);
}
.footer-navigation .compare::before {
    background-image: url(../img/svg/compare.svg);
}
.footer-navigation .cart::before {
    background-image: url(../img/svg/cart.svg);
}

.footer-navigation a {
    color: rgba(255, 255, 255, 0.7);
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.footer-navigation a:hover {
    color: #ffffff;
}

.footer-navigation a:active {
    color: #ffffff;
}

.footer-phone {
    margin-top: 35px;
    text-align: right;

    color: #ffffff;
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.html-academy-logo {
    display: flex;
    justify-content: flex-end;
    margin-top: 34px;
}

.html-academy-logo svg {
    fill: #ffc600;
}

.page-title {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: 48px; 
    letter-spacing: 0.47px;
    color: #000000;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 381px;

}

.breadcrumbs li {
    position: relative;

    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -16px;

  width: 4px;
  height: 7px;

  background-image: url(../img/svg/nav-arrow.svg);
}
 
.breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs-current::after {
  display: none;
}

.filter {
    width: 468px;
    margin-left: auto;

    background-color: #dbdbdb;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    border: none;
} 

.filter legend {
    margin-bottom: 30px;
    padding-left: 199px;
      
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px; 
    color: #000000;

}

.filter h2{
    padding-left: 200px;

    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 3.2px; 
    text-transform: uppercase;
    color: #000000;

    background-color: rgba(0, 0, 0, 0.3);
}

.filter ul {
    margin: 0;
    padding: 0;

    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;

    list-style: none;
}

.filter li {
    margin: 0;

}

.filter-option {
    margin-bottom: 19px;
    padding-left: 238px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 8px;

    width: 23px;
    height: 23px;

    background-image: url("../img/svg/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 8px;

    width: 27px;
    height: 23px;

    background-image: url("../img/svg/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 8px;

    width: 25px;
    height: 25px;

    background-image: url("../img/svg/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:disabled + label {
    color: #a6a6a6;
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -40px;
    top: 8px;

    width: 25px;
    height: 25px;

    background-image: url("../img/svg/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.filter-button {
    margin-left: 198px;

    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3.7px; 
    color: #000000;

    background-color: #f0c52e;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    width: 972px;
    padding-left: 73px;
    background-color: #dbdbdb;
}

.sort h2 {
    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 3px; 
    color: #000000;
}

.sort button {
    border: none;
    background-color: #dbdbdb;
}

.sort a {
    font-family: "OpenSans", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #dbdbdb;

}

.sort-buttons {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin: 55px;
}

.sort button:active {
    color: #000000;
}

.sort button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-columns {
    display: flex;
    width: 1440px;

}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 72px;
    margin-bottom: 62px;
    padding: 0;
    width: 765px;
}

.catalog-item .actions{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 379px;
    background-color:  #eeeeee;
    opacity: 0.7;
    z-index: 10;
}

.actions .cart{
    display: block;
    width: 200px;
    min-height: 12px;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 184px;
    color: #000000;
    text-align: center;

    font-size: 18px;
    font-weight: 800;
    font-family: "Gilroy", "Arial" sans-serif;
    line-height: 24px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;

    z-index: 20;
}

.actions .cart {
    background: linear-gradient(to bottom, transparent 30%, #f0c52e 30%, #f0c52e 70%, transparent 70%);
} 

.actions .cart:hover {
    background-color: #f0c52e;
    transition: color 200ms;
}

.actions .cart:active {
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}


.actions .compare {
    display: block;
    width: 144px;
    margin: 0 auto;
    margin-bottom: 0px;
    
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 400;
    font-family: "OpenSans", "Arial" sans-serif;
    line-height: 36px;
    text-decoration: none;

    z-index: 20;
}

.actions .compare:hover {
    color: #000000;
}

.actions .compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.catalog-item .actions{
    display: none;
}
.catalog-item:hover .actions{
    display: block;
}

.catalog-item {
    position: relative;
    width: 360px;
    margin-top: 50px;

}

.catalog-item:nth-child(2n) {
    margin-left: 40px;
}

.catalog-item a {
    color: #000000;
}

.catalog-item span {
    width: 80px;

    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #464646; 
}

.catalog-item h3 {
    width: 253px;

    font-family: "Gilroy", "Arial", Sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.catalog-item:nth-child(2) h3 {
    width: 175px;
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 760px;

    margin: 0 72px;
    margin-bottom: 77px;
    padding: 0;
    /*min-height: 70px;*/

    background-color: #dbdbdb;
    list-style: none;
}

.center-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.pagination-item {
    padding-right: 31px;
}

.pagination-item.pagination-item-current a {
    color: black;
}

.pagination-item a {
    display: block;
    padding: 10px 19px;
  
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item-back a,
.pagination-item-forward a {
    display: block;
    padding: 30px 30px;

    color: black;
}

.pagination-item:not(.pagination-item-current) a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item:not(.pagination-item-current) a:active {
    color: #000000;
}

.pagination-item-back a:hover,
.pagination-item-forward a:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.pagination-item-back a:active,
.pagination-item-forward a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1)
}